#header{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 48px;
    text-align: center;
}

#subheader{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

#time{
    border-color: white;
}

#schedule{
    margin-left: 10%;
}

#time{
    background-color: white;
    color: black;
    height: 75px;
    border: 2px solid black;
}

.form-control{
    background-color: white;
}

#notes9{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes10{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes11{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes12{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes13{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes14{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes15{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes16{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#notes17{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#save9{
    background-color: blue;
    border: 2px solid black;
}

#save10{
    background-color: blue;
    border: 2px solid black;
}

#save11{
    background-color: blue;
    border: 2px solid black;
}

#save12{
    background-color: blue;
    border: 2px solid black;
}

#save13{
    background-color: blue;
    border: 2px solid black;
}

#save14{
    background-color: blue;
    border: 2px solid black;
}

#save15{
    background-color: blue;
    border: 2px solid black;
}

#save16{
    background-color: blue;
    border: 2px solid black;
}

#save17{
    background-color: blue;
    border: 2px solid black;
}

.form-control::placeholder{
    color: gray;
    font-style: italic;
}

.btn-outline-secondary{
    color: white;
    font-weight: bold;
    border: hidden;
}